li{
    float: left;
}

.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

header {
    position: fixed;
    width: 100%;
}
  
.blackbox li {
    float: right;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: font-size 0.3s ease;
    line-height: 20px;
}
li a:hover {
    background-color: #03A89E;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
 
body {
    background: url("./Image/giphy.gif") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: cover;
    margin: 0;
    padding: 0;
    /* font-family: cursive !important; */
    height: 100vh !important;
    background-blend-mode: darken;
    height: 100%;
}

heading {
    text-align: center;
}

/* Heading {
    background-image: url("./Image/Oceanbg.png");
    background-size: cover;
} */

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.mario {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: 65%;
}

.berna {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 65%;
}

.rao {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 65%;
}

.raj {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    height: 33.5%;
}


.imglog {
    display: block;
    width: 5%;
    padding-left: 5px; 
}

.imglog1 {
    display: block;
    width: 7%;
    padding-left: 40px;
}

.logo {
    /* display: block; */
    width: 7%;
    height: 7%;
    /* size: 110% !important; */
    /* padding-left: 35px;  */
}

.down {
    width: 7%;
    height: 7%;
    float: right;
}

.center{
    position: absolute;
    padding-top: 0px;
    /* top: 130%;
    left: 50%; */
    transform: translate(-50%, -50%);
    /* width: 800px; */
    background: rgba(255, 255, 255, 0.695); 
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
    padding: 2rem 1rem;
    text-align: center;
    /* display: flex; */
}

.centers{
    position: absolute;
    padding-top: 0px;
    /* top: 130%;
    left: 50%; */
    transform: translate(-50%, -50%);
    /* width: 800px; */
    background: rgba(255, 255, 255, 0.695); 
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
    padding: 2rem 1rem;
    text-align: center;
    /* display: flex; */
}

#center0 {
    top: 345%;
    left: 50%;
}

#center1 {
    top: 500%;
    left: 77%;
    width: 40%;
}

#centerpat {
    top: 156%;
    left: 80%;
    width: 30%;
    height: 85%;
}

#center2 {
    top: 155%;
    left: 50%;
    /* height: 90%; */
    width: 50%;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/slider-1.jpg");
    /* background-color: rgba(100, 100, 100, 0.5); */
    /* filter: brightness(120%); */
    /* background: url("./Image/slider-1.jpg"); */
    /* background-blend-mode: overlay; */
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
    /* clear: both; */
    /* position: relative; */
    background-image: cover;
}

#center2 p {
    font-size: 17px;
}

.cathe {
    padding-top: 2px;
}

#patrons {
    top: 255%;
    left: 50%;
    width: 800px;
}

/* .head {
    background: url("./Image/slider-2.jpg") no-repeat;
} */

#center3 {
    top: 425%;
    left: 50%;
    /* width: 50%; */
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/COEA.png");
    background-position: center;
    background-size: cover;
    /* background-image: cover; */
}

#workshop {
    top: 500%;
    left: 30%;
    width: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/oceanacid.png");
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#speaker {
    top: 635%;
    left: 50%;
    width: 800px;
}

.topics b {
    float: left;
}

#details {
    top: 775%;
    left: 50%;
    width: 800px;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/details.png") no-repeat;
    background-position: bottom;
    /* background-size: cover; */
    /* background-image: cover; */
}

#details li {
    /* float: left; */
    list-style-type: none;
}

#exp {
    top: 845%;
    left: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/part.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#expout {
    top: 885%;
    left: 50%;
    /* background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/part.png") no-repeat; */
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#reg {
    top: 920%;
    left: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/registration.png") no-repeat;
    background-size: cover;
    /* clear: both; */
    /* position: relative; */
    /* background-image: cover; */
}

#pat {
    top: 1015%;
    left: 50%;
    /* float: left !important; */
    width: 600px;
}

.org {
    float: left !important;
    margin-top: 20px; 
    padding-left: 19px; 
}

.org b{
    float: left; 
} 

#some p{
    float: left !important;
}

#center10 {
    top: 1120%;
    left: 50%;
    width: 40%;
}

#reach {
    top: 1165%;
    left: 50%;
    width: 100%; 
    height: 20%;  
}

i {
    font-size: 2rem;
}

.left {
    display: inline-block;
    border: 1px solid #03A89E;
    justify-content: space-between;
    padding: 1rem 1rem;
    width: 80%;
    /* margin-left: 10px; */
    /* vertical-align: middle; */
}

.left1 {
    /* display: inline-block; */
    /* border: 1px solid #03A89E; */
    /* justify-content: space-between; */
    /* float: centx er; */
    /* padding: 1rem 1rem; */
    display: inline-block;
    border: 1px solid #03A89E;
    justify-content: space-between;
    /* margin-left: 9rem; */
    padding: 1rem 1rem;
    /* width: 80%; */
    /* margin-left: 10px; */
    /* vertical-align: middle; */
}

.left2 {
    /* display: inline-block; */
    /* border: 1px solid #03A89E; */
    /* justify-content: space-between; */
    /* float: centx er; */
    /* padding: 1rem 1rem; */
    /* display: inline-block; */
    border: 1px solid #03A89E;
    /* justify-content: space-between; */
    /* padding: 1rem 1rem; */
    width: 100%;
    /* margin-left: 10px; */
    /* vertical-align: middle; */
}

.middle {
    display: inline-block;
    border: 1px solid #03A89E;
    padding: 1rem 1rem;
    width: 100%;
    /* margin-left: 10px; */
    /* vertical-align: middle; */
}

.right {
    /* margin-top: 10px; */
    width: 80%;
    margin-left: 2rem;
    display: inline-block;
    border: 1px solid #03A89E;
    /* padding: 1rem 1rem; */
}

p a {
    color: #831238;
}

p a:hover {
    text-decoration: none;
    color: #03A89E;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 100fr));
    font-size: 15px;
    grid-gap: 5px;
  }
  
#grid>div {
    /* font-size: 30px; */
    /* padding: .5em; */
    color: black;
    border: 1px solid #03A89E;
    /* background: #03A89E; */
    /* text-align: center; */
}

.workshop {
    float: left; 
    padding-left: 1130px;
}

.reg {
    float: left; 
    padding-left: 4px;
}

.spon {
    padding-left: 100px;
}

.adv p{
    float: left !important; 
    /* padding-left: 16px; */
}

.local {
    padding-top: 25%;
}


/* #reggie {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Reggie.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#valentina {
    background: linear-gradient(rgba(255, 255, 255, 0.270), rgba(255, 255, 255, 0.270)), url("./Speakers/Valentina.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#bhadury {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/pbhadury.png") no-repeat;
    background-size: cover;
    background-image: cover;
}

#vinu {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Vinu-Valsala.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#kun {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/061.png") no-repeat;
    background-size: cover;
    background-image: cover;
}

#hai {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Hai.png") no-repeat;
    background-position: center;
    background-image: cover;
}

#sath {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Sathsir.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
} */

/* @media only screen and (max-width: 768px) {
    img {
        width: 100% !important;
    }
    #center1 {
        width: 390px;
        left: 50%;
        top: 110%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 210%;
        width: 380px;
        background-size: cover;
    }

    #center3 {
        top: 330%;
        width: 380px;
    }

    #workshop {
        top: 450%;
        width: 95%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 745%;
        width: 95%;
    }

    #details {
        top: 1025%;
        width: 95%;
        text-align: left;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 1095%;
        width: 95%;
    }

    #reg {
        top: 1145%;
        width: 95%;
    }

    #pat {
        top: 1250%;
        width: 95%;
        float: left;
    }

    .prabhu {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }
} */

@media (max-width: 480px) {
    .imglog {
        width: 10% !important;
    }

    .imglog1 {
        width: 20% !important;
        /* height: 50%; */
    }
    
    img {
        /* height: 200px; */
        width: 100% !important;
    }
    
    .down {
        width: 10% !important;
    }

    .raj {
        height: 40%;
        padding: 1px 1px;
    }

    .rao {
        height: 76%;
    }

    .spon {
        padding-right: 0%;
    }

    .head {
        padding-left: 5% !important;
    }

    .workshop {
        padding-left: 30% !important;
    }

    .logo {
        width: 25% !important; 
        padding-right: 5% !important;
    }

    #centerpat {
        width: 95%;
        top: 330%;
        left: 50%;
        height: 140% !important;
    }
    
    #center1 {
        width: 95%;
        left: 50%;
        top: 1240%;
    }

    #center0 {
        top: 700%;
        left: 50%;
        width: 80%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 180%;
        width: 95%;
        left: 51%;
        background-size: cover;
    }

    #patrons {
        top: 660%;
        width: 80%;
        left: 50%;
    }

    #center3 {
        top: 1120%;
        width: 95%;
        left: 50%;
    }

    #center0 {
        top: 980%;
        width: 95%;
        left: 50%;
    }

    #workshop {
        top: 1340%;
        width: 95%;
        left: 50%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 1780%;
        width: 80%;
        left: 50%;
    }

    #expout {
        top: 2360%;
        width: 95%;
    }

    #details {
        top: 2220%;
        width: 95%;
        text-align: left; 
        left: 50%;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 2310%;
        width: 95%;
    }

    #reg {
        top: 2410%;
        width: 95%;
    }

    #pat {
        top: 2530%;
        width: 95%;
        /* float: left; */
        left: 50%;
    }

    .org {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }

    #center10 {
        top: 2660%;
        width: 95%;
        left: 50%;
    }

    #reach {
        top: 2720%;
        width: 95%;
        left: 50%;
    }

    .berna {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 50%;
        height: 77%;
    }

    .local h4{
        padding-top: 50%;
    }

    .adv {
        float: left;
        padding-left: 0%;
    }
}

@media (min-width: 481px) and (max-width: 768px) {
    .imglog {
        width: 10% !important;
    }

    .imglog1 {
        width: 20% !important;
        /* height: 50%; */
    }
    
    img {
        /* height: 200px; */
        width: 100% !important;
    }

    .raj {
        height: 58.6%;
        padding: 1px 1px;
    }
    
    .down {
        width: 10% !important;
    }

    .spon {
        padding-right: 0%;
    }

    .head {
        padding-left: 5% !important;
    }

    .workshop {
        padding-left: 45%;
    }

    .logo {
        width: 25% !important; 
        padding-right: 5% !important;
    }

    #centerpat {
        width: 50%;
        top: 350%;
        left: 50%;
        height: 120%;
    }
    
    #center1 {
        width: 80%;
        left: 50%;
        top: 1270%;
    }

    #center0 {
        top: 500%;
        left: 50%;
        width: 80%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 190%;
        width: 80%;
        left: 50%;
        background-size: cover;
    }

    #patrons {
        top: 670%;
        width: 50%;
        left: 50%;
    }

    #center3 {
        top: 1140%;
        width: 80%;
        left: 50%;
    }

    #center0 {
        top: 1000%;
        width: 80%;
        left: 50%;
    }

    #workshop {
        top: 1390%;
        width: 80%;
        left: 50%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 1850%;
        width: 50%;
        left: 50%;
    }

    #expout {
        top: 2500%;
        width: 80%;
    }

    #details {
        top: 2350%;
        width: 80%;
        text-align: left !important; 
        left: 50%;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 2450%;
        width: 80%;
    }

    #reg {
        top: 2550%;
        width: 80%;
    }

    #pat {
        top: 2700%;
        width: 80% !important;
        /* float: left; */
        left: 50%;
    }

    .org {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }

    #center10 {
        top: 2850%;
        width: 80%;
        left: 50%;
    }

    #reach {
        top: 2980%;
        width: 80%;
        /* height: 10%; */
        left: 50%;
    }

    .berna {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 50%;
        height: 77%;
    }

    .local h4{
        padding-top: 50%;
    }

    .adv {
        float: left;
        padding-left: 0%;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    .imglog {
        width: 8% !important;
    }

    .imglog1 {
        width: 20% !important;
        /* height: 50%; */
    }
    
    img {
        /* height: 200px; */
        width: 100% !important;
    }

    .raj {
        height: 61.5%;
        padding: 1px 1px;
    }

    .rao {
        height: 79%;
    }
    
    .down {
        width: 10% !important;
    }

    .spon {
        padding-right: 0%;
    }

    .head {
        padding-left: 5% !important;
    }

    .workshop {
        padding-left: 61%;
    }

    .logo {
        width: 25% !important; 
        padding-right: 5% !important;
    }

    #centerpat {
        width: 80%;
        top: 335%;
        left: 50%;
        height: 230%;
    }
    
    #center1 {
        width: 80%;
        left: 50%;
        top: 970% !important;
    }

    #center0 {
        top: 1000%;
        left: 53% !important;
        width: 95%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 90%;
        width: 80%;
        left: 50%;
        background-size: cover;
    }

    #patrons {
        top: 540%;
        width: 80%;
        left: 50%;
    }

    #center3 {
        top: 860% !important;
        width: 80%;
        left: 50%;
    }

    #center0 {
        top: 720%;
        width: 80%;
        left: 50% !important;
    }

    #workshop {
        top: 1080% !important;
        width: 80%;
        left: 50%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 1245%;
        width: 80%;
        left: 50%;
    }

    #expout {
        top: 1555%;
        width: 80%;
    }

    #details {
        top: 1430%;
        width: 80%;
        text-align: left !important; 
        left: 50%;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 1510% !important;
        width: 80%;
    }

    #reg {
        top: 1600% !important;
        width: 80%;
    }

    #pat {
        top: 1700% !important;
        width: 60%;
        /* float: left; */
        left: 50%;
    }

    .org {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }

    #center10 {
        top: 1820%;
        width: 60%;
        left: 50%;
    }

    #reach {
        top: 1880%;
        width: 95%;
        left: 50%;
    }

    .berna {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 50%;
        height: 79.5%;
    }

    .local h4{
        padding-top: 50%;
    }

    .adv {
        float: left;
        padding-left: 0%;
    }
}

@media (min-width: 1025px) and (max-width: 1280px)
{
    .imglog {
        width: 6% !important;
    }

    .imglog1 {
        width: 20% !important;
        /* height: 50%; */
    }
    
    img {
        /* height: 200px; */
        width: 100% !important;
    }

    .raj {
        height: 61.5%;
        padding: 1px 1px;
    }

    .rao {
        height: 79%;
    }
    
    .down {
        width: 10% !important;
    }

    .spon {
        padding-right: 0%;
    }

    .head {
        padding-left: 5% !important;
    }

    .workshop {
        padding-left: 77%;
    }

    .logo {
        width: 25% !important; 
        padding-right: 5% !important;
    }

    #centerpat {
        width: 80%;
        top: 335%;
        left: 50%;
        height: 255%;
    }
    
    #center1 {
        width: 80%;
        left: 50%;
        top: 1000% !important;
    }

    #center0 {
        top: 1000%;
        left: 53% !important;
        width: 95%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 170%;
        width: 80%;
        left: 50%;
        background-size: cover;
    }

    #patrons {
        top: 550%;
        width: 80%;
        left: 50%;
    }

    #center3 {
        top: 890% !important;
        width: 80%;
        left: 50%;
    }

    #center0 {
        top: 740%;
        width: 80%;
        left: 50% !important;
    }

    #workshop {
        top: 1110% !important;
        width: 80%;
        left: 50%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 1265%;
        width: 80%;
        left: 50%;
    }

    #expout {
        top: 1565%;
        width: 80%;
    }

    #details {
        top: 1440%;
        width: 80%;
        text-align: left !important; 
        left: 50%;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 1520% !important;
        width: 80%;
    }

    #reg {
        top: 1610% !important;
        width: 80%;
    }

    #pat {
        top: 1710% !important;
        width: 50%;
        /* float: left; */
        left: 50%;
    }

    .org {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }

    #center10 {
        top: 1825%;
        width: 50%;
        left: 50%;
    }

    #reach {
        top: 1880%;
        width: 95%;
        left: 50%;
    }

    .berna {
        display: block;
        /* margin-left: auto; */
        /* margin-right: auto; */
        width: 50%;
        height: 79.5%;
    }

    .local h4{
        padding-top: 50%;
    }

    .adv {
        float: left;
        padding-left: 0%;
    }
}