li{
    float: left;
}

.blackbox {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightblue;
}

header {
    position: fixed;
    width: 100%;
}
  
.blackbox li {
    float: right;
} 

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: font-size 0.3s ease;
    line-height: 20px;
}
li a:hover {
    background-color: #03A89E;
    border-radius: 20px;
    color: white;
    text-decoration: none;
}
 
body {
    background: url("./Image/giphy.gif") no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
    width: 100%;
    z-index: -1;
    background-image: cover;
    margin: 0;
    padding: 0;
    font-family: cursive;
    height: 100vh;
    background-blend-mode: darken;
    height: 50%;
}

heading {
    text-align: center;
}

/* Heading {
    background-image: url("./Image/Oceanbg.png");
    background-size: cover;
} */

.img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.center{
    position: absolute;
    padding-top: 0px;
    /* top: 130%;
    left: 50%; */
    transform: translate(-50%, -50%);
    /* width: 800px; */
    background: rgba(255, 255, 255, 0.695); 
    border-radius: 10px;
    box-shadow: 5px 5px 25px rgba(0,0,0,0.5);
    padding: 2rem 1rem;
    text-align: center;
    /* display: flex; */
}


#center1 {
    top: 130%;
    left: 50%;
}

#center2 {
    top: 210%;
    left: 50%;
    color: black;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/slider-1.jpg");
    /* background-color: rgba(100, 100, 100, 0.5); */
    /* filter: brightness(120%); */
    /* background: url("./Image/slider-1.jpg"); */
    /* background-blend-mode: overlay; */
    background-position: center;
    background-size: cover;
    /* z-index: -1; */
    /* clear: both; */
    /* position: relative; */
    background-image: cover;
}

#center2 p {
    font-size: 17px;
}

/* .head {
    background: url("./Image/slider-2.jpg") no-repeat;
} */

#center3 {
    top: 290%;
    left: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/COEA.png");
    background-position: center;
    background-size: cover;
    /* background-image: cover; */
}

#workshop {
    top: 375%;
    left: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/oceanacid.png");
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#speaker {
    top: 510%;
    left: 50%;
    width: 800px;
}

.topics b {
    float: left;
}

#details {
    top: 650%;
    left: 50%;
    width: 800px;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/details.png") no-repeat;
    background-position: bottom;
    /* background-size: cover; */
    /* background-image: cover; */
}

#details li {
    float: left;
    list-style-type: none;
}

#exp {
    top: 720%;
    left: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/part.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#reg {
    top: 760%;
    left: 50%;
    background: linear-gradient(rgba(255, 255, 255, 0.760), rgba(255, 255, 255, 0.760)), url("./Image/registration.png") no-repeat;
    background-size: cover;
    /* clear: both; */
    /* position: relative; */
    /* background-image: cover; */
}

#pat {
    top: 870%;
    left: 50%;
    float: center;
    width: 600px;
}

.left {
    display: inline-block;
    border: 1px solid #03A89E;
    padding: 1rem 1rem;
    width: 50%;
    /* margin-left: 10px; */
    /* vertical-align: middle; */
}

.right {
    /* margin-top: 2rem; */
    width: 50%;
    margin-left: 2rem;
    display: inline-block;
    border: 1px solid #03A89E;
    padding: 1rem 1rem;
}

p a {
    color: #831238;
}

p a:hover {
    text-decoration: none;
    color: #03A89E;
}

#grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 100fr));
    font-size: 15px;
    grid-gap: 5px;
  }
  
#grid>div {
    /* font-size: 30px; */
    /* padding: .5em; */
    color: black;
    border: 1px solid #03A89E;
    /* background: #03A89E; */
    /* text-align: center; */
}

/* #reggie {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Reggie.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#valentina {
    background: linear-gradient(rgba(255, 255, 255, 0.270), rgba(255, 255, 255, 0.270)), url("./Speakers/Valentina.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#bhadury {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/pbhadury.png") no-repeat;
    background-size: cover;
    background-image: cover;
}

#vinu {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Vinu-Valsala.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
}

#kun {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/061.png") no-repeat;
    background-size: cover;
    background-image: cover;
}

#hai {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Hai.png") no-repeat;
    background-position: center;
    background-image: cover;
}

#sath {
    background: linear-gradient(rgba(255, 255, 255, 0.23), rgba(255, 255, 255, 0.23)), url("./Speakers/Sathsir.png") no-repeat;
    background-position: center;
    background-size: cover;
    background-image: cover;
} */

@media only screen and (max-width: 768px) {
    img {
        /* height: 200px; */
        width: 100% !important;
    }
    #center1 {
        width: 390px;
        left: 50%;
        top: 110%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 210%;
        width: 380px;
        background-size: cover;
    }

    #center3 {
        top: 330%;
        width: 380px;
    }

    #workshop {
        top: 450%;
        width: 95%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 745%;
        width: 95%;
    }

    #details {
        top: 1025%;
        width: 95%;
        text-align: left;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 1095%;
        width: 95%;
    }

    #reg {
        top: 1145%;
        width: 95%;
    }

    #pat {
        top: 1250%;
        width: 95%;
        float: left;
    }

    .prabhu {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }
}

@media (max-width: 480px) {
    img {
        /* height: 200px; */
        width: 100% !important;
    }
    #center1 {
        width: 390px;
        left: 50%;
        top: 110%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 210%;
        width: 380px;
        background-size: cover;
    }

    #center3 {
        top: 330%;
        width: 380px;
    }

    #workshop {
        top: 450%;
        width: 95%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 745%;
        width: 95%;
    }

    #details {
        top: 1025%;
        width: 95%;
        text-align: left;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 1095%;
        width: 95%;
    }

    #reg {
        top: 1145%;
        width: 95%;
    }

    #pat {
        top: 1250%;
        width: 95%;
        float: left;
    }

    .prabhu {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    img {
        /* height: 200px; */
        width: 100% !important;
    }
    #center1 {
        width: 390px;
        left: 50%;
        top: 110%;
    }

    .left {
        width: 50%;
        margin-left: 1px;
        font-size: 14px;
    }

    .right {
        width: 50%; 
        margin-left: 0.1rem;
        font-size: 14px;
    }

    header {
        width: 100%;
    }

    #center2 {
        top: 210%;
        width: 380px;
        background-size: cover;
    }

    #center3 {
        top: 330%;
        width: 380px;
    }

    #workshop {
        top: 450%;
        width: 95%;
    }

    .topics li {
        text-align: left !important;
    }

    #speaker {
        top: 745%;
        width: 95%;
    }

    #details {
        top: 1025%;
        width: 95%;
        text-align: left;
    }

    #details h4 {
        text-align: center;
    }

    #exp {
        top: 1095%;
        width: 95%;
    }

    #reg {
        top: 1145%;
        width: 95%;
    }

    #pat {
        top: 1250%;
        width: 95%;
        float: left;
    }

    .prabhu {
        text-align: left;
        font-size: 15px;
    }

    .img1 {
        height: 165 !important;
    }
}
